body {
	margin: 5px 0 0 5px;
}

.header {
	float: left;
	clear: right;
}

h1 {
	font-size: 30px;
	background-color: orange;
	padding: 20px 0;
}

.instructions {
	float: left;
	margin: 20px 0;
	background-color: #efe577;
	clear: both;
	padding-bottom: 20px;
}

p {
	line-height: 16px;
	font-size: 16px;
	padding-top: 16px;
}

img {
	width: 80px;
}

.total, .score {
	clear: both;
	width: 250px;
	background-color: teal;
	color: white;
	margin-bottom: 10px;
}

.score {
	font-size: 24px;
	padding-bottom: 40px;
}